
{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
  <h2> Create Session </h2><hr/>
  <div class="row">
    <div class="col">
      <div class="multisteps-form__progress">
        {% if wizard.steps.step1 >= 1   %}
        <button id='b1' class="multisteps-form__progress-btn js-active" type="button" title="User Info" disabled>Activity info</button>
        {% else %}
        <button id='b2' class="multisteps-form__progress-btn" type="button" title="Address" disabled>Activity info</button>
        {% endif %}

        {% if wizard.steps.step1 >= 2  %}
        <button id='b2' class="multisteps-form__progress-btn js-active" type="button" title="Address">Functionality</button>
        {% else %}
        <button id='b2' class="multisteps-form__progress-btn" type="button" title="Address">Functionality</button>
        {% endif %}
        {% if wizard.steps.step1 >= 3 %}
        <button id='b3' class="multisteps-form__progress-btn js-active" type="button" title="Order Info">Recroding</button>
        {% else %}
        <button id='b2' class="multisteps-form__progress-btn" type="button" title="Address">Recording</button>
        {% endif %}

        {% if wizard.steps.step1 >= 4 %}
        <button id='b5' class="multisteps-form__progress-btn js-active" type="button" title="Comments">Activity overview</button>
        {% else %}

        <button id='b2' class="multisteps-form__progress-btn" type="button" title="Address">Activity overview</button>
        {% endif %}
      </div>
    </div>
  </div>
  <br/>
  <form action="" method="post">{% csrf_token %}
    {{ wizard.management_form }}
    <div class="row">
      <div class="col col-12 col-sm-12 col-lg-8 col-md-12">
        {% if wizard.form.forms %}
          {{ wizard.form.management_form }}
          {% for form in wizard.form.forms %}
            {{ form | crispy }}
          {% endfor %}
        {% else %}
          {{ wizard.form | crispy  }}
        {% endif %}
      </div>
    </div>

{% if wizard.steps.prev %}
  <button class='btn btn-warning' formnovalidate="formnovalidate" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Back" %}</button>
{% endif %}
<input type="submit" class="btn btn-success" value="{% trans "Continue" %}"/>
<a class='btn btn-danger' href="{% url 'project_home'%}">{% trans "Cancel" %} </a>
</form>
{% endblock %}
