{% extends "base_teacher.html" %}
{% load i18n %}
{%block title%} {% trans 'Sessions' %} {%endblock%}
{%block content%}
  <div style="height:100%">
    <div class='row'>
      <div class="col col-md-3 col-lg-3 col-sm-6">
        <select class='form-control' onchange="location = this.value;">
          <option value="{% url 'session_filter' filter='all'%}">{% trans 'Active' %}</option>
          {%if filter %}
            <option value="{% url 'session_filter' filter='archived'%}" selected>{% trans 'Archived' %}</option>
          {% else %}
            <option value="{% url 'session_filter' filter='archived'%}">{% trans 'Archived' %}</option>
          {% endif %}
        </select>
      </div>
      <div class='col col-md-4 col-xs-6 col-lg-4 col-sm-6'>
        <a href="{% url 'create_session'%}" class="btn btn-success ml-auto"  > {% trans 'Create Session' %} </a>
      </div>
    </div><br/><br/>
    {% for session in sessions%}
      <!-- Code from TrustedUX project-->
      <div class="card" class="m-0 p-0">
        <div class="card-header">
          <span  style="font-size:22px"> {{session.name | upper}}  </span>
          <div class="btn-group float-right">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-gears"> </i>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'edit_session' session_id=session.id %}" data-toggle="tooltip" title="Edit the settings"><i class="fa fa-edit"></i> {% trans 'Edit' %}</a>
              <a class="dropdown-item" href="{% url 'duplicate_session' session_id=session.id %}" data-toggle="tooltip" title="Create another session with same settings."><i class="fa fa-copy"></i>{% trans ' Duplicate' %}</a>
              {% if session.status  %}
                <a class="dropdown-item" href="{% url 'session_deactivate' session_id=session.id  %}" data-toggle="tooltip" title="Archive this session."><i class="fa fa-check"></i> {% trans 'Archive' %}</a>
              {% else %}
                <a class="dropdown-item" href="{% url 'session_activate' session_id=session.id %}" data-toggle="tooltip" title="Unarchive this session."><i class="fa fa-archive"></i> {% trans 'Unarchive' %}</a>
              {% endif %}
            <!--  <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'demo_session' session_id=session.id  %}" data-toggle="tooltip" title="To demonstrate the use of tool to students."><i class="fa fa-check"></i> {% trans 'Demo' %}</a>
              -->
            </div>
          </div>
        </div>
        <div class="card-body">

          <div class='d-flex'>
          <p><b class='text-muted'>{% trans 'Access pin' %}: </b>
            {% if session.random_group %}
              {% for g_pin in session.grouppin_set.all  %}
                <span class='mr-2'> {{ g_pin.pin }} </span>
              {% endfor %}
            {% else %}
             {% for g_pin in session.grouppin_set.all  %}
               <span class='mr-2'> {% trans 'Group' %}-{{forloop.counter}}: {{ g_pin.pin }} </span>
             {% endfor %}
            {% endif %}
          </div>
          <p>
            <b class='text-muted'>{% trans 'No. of groups:' %} </b> {{ session.groups }} <br/>
            <b class='text-muted'>{% trans 'Language:' %} </b>{{ session.language }} <br/>
            <b class='text-muted'>{% trans 'Duration:' %} </b>{{ session.duration }} <br/>
            <b class='text-muted'>{% trans 'Created:' %} </b>{{ session.created_at }} <br/>
            <p class="card-text pt-2"><b class='text-muted'>{% trans 'Etherpad:' %}</b> {% if session.useEtherpad %} {% trans 'Yes' %} {% else %} {% trans 'No' %} {% endif %}</p>
            <p class="card-text pt-2"><b class='text-muted'>{% trans 'Audio & Video chat:' %}</b> {% if session.useAVchat %}{% trans 'Yes' %} {% else %} {% trans 'No' %} {% endif %}</p>
            <p class="card-text pt-2"><b class='text-muted'>{% trans 'Record audio:' %}</b> {% if session.record_audio or all_data.record_audio_video %} {% trans 'Yes' %} {% else %} {% trans 'No' %} {% endif %}</p>
            <p class="card-text pt-2"><b class='text-muted'>{% trans 'Record video:' %}</b> {% if session.record_audio_video %} {% trans 'Yes' %} {% else %} {% trans 'No' %} {% endif %}</p>
            <b></b> <a href="{% url 'session_page' session.id %}" target='_blank'>{% trans 'Activity monitoring' %}</a>
          </p>
        </div>
      </div><br/>
      <script>
        $(function () {
          $('[data-toggle="popover"]').popover();
        });
        $(function () {
          $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });
        });
      </script>
     <!-- End code -->
    {% endfor%}
    {% if sessions.count == 0 %}
      <div class='text-center card'>
        <div class='card-header'>  <h4> {% trans 'No sessions' %} </h4> </div>
        <div class='card-body'>  <p> {% trans 'You do not have any active sessions.' %}<br/><br/>
          <a href="{% url 'create_session'%}" class='btn btn-success'><i class='fa fa-add'></i> {% trans 'Create Session' %} </a></p>
        </div>
      </div>
      <br/>
    </div><br/>
    {% endif %}
{%endblock %}
