{% extends "base_teacher.html" %}
{%block title%} Sessions {%endblock%}
{%block content%}
  <div style="height:100%">
    <div class='row'>
      <div class="col col-md-3 col-lg-3 col-sm-6">
        <select class='form-control' onchange="location = this.value;">
          <option value="{% url 'session_filter' filter='all'%}"">Active</option>
          {%if filter %}
            <option value="{% url 'session_filter' filter='archived'%}" selected>Archived</option>
          {% else %}
            <option value="{% url 'session_filter' filter='archived'%}">Archived</option>
          {% endif %}
        </select>
      </div>
      <div class='col col-md-4 col-xs-6 col-lg-4 col-sm-6'>
        <a href="{% url 'create_session'%}" class="btn btn-success ml-auto"  > New session </a>
      </div>
    </div><br/><br/>
    {% for session in sessions%}
      <!-- Code from TrustedUX project-->
      <div class="card" class="m-0 p-0">
        <div class="card-header">
          <span  style="font-size:22px"> {{session.name | upper}}  </span>
          <div class="btn-group float-right">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-gears"> </i>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'edit_session' session_id=session.id %}" data-toggle="tooltip" title="Edit the settings"><i class="fa fa-edit"></i> Edit</a>
              <a class="dropdown-item" href="{% url 'duplicate_session' session_id=session.id %}" data-toggle="tooltip" title="Create another session with same settings."><i class="fa fa-copy"></i> Duplicate</a>
              {% if session.status  %}
                <a class="dropdown-item" href="{% url 'session_deactivate' session_id=session.id  %}" data-toggle="tooltip" title="Archive this session."><i class="fa fa-check"></i> Archive</a>
              {% else %}
                <a class="dropdown-item" href="{% url 'session_activate' session_id=session.id %}" data-toggle="tooltip" title="Unarchive this session."><i class="fa fa-archive"></i> Unarchive</a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="card-body">

          <div class='d-flex'>
          <p><b class='text-muted'>Access pin: </b>
            {% for g_pin in session.grouppin_set.all  %}

             <span class='mr-2'> Group-{{forloop.counter}}: {{ g_pin.pin }} </span>
             {% endfor %}
          </div>
          <p>
            <b class='text-muted'>No. of groups: </b> {{ session.groups }} <br/>
            <b class='text-muted'>Language: </b>{{ session.language }} <br/>
            <b class='text-muted'>Duration: </b>{{ session.duration }} <br/>
            <b class='text-muted'>Created: </b>{{ session.created_at }} <br/>
            <b></b> <a href="{% url 'session_page' session.id %}" target='_blank'>Activity monitoring</a>
          </p>
        </div>
      </div><br/>
      <script>
        $(function () {
          $('[data-toggle="popover"]').popover();
        });
        $(function () {
          $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });
        });
      </script>
     <!-- End code -->
    {% endfor%}
    {% if sessions.count == 0 %}
      <div class='text-center card'>
        <div class='card-header'>  <h4> No sessions </h4> </div>
        <div class='card-body'>  <p> You do not have any active sessions.<br/><br/>
          <a href="{% url 'create_session'%}" class='btn btn-warning'><i class='fa fa-add'></i> Create Session </a></p>
        </div>
      </div>
      <br/>
    </div><br/>
    {% endif %}
{%endblock %}
