{% extends "base_form.html" %}
{% load i18n %}
{%block title%}{%endblock%}
{%block content%}

	<style type="text/css">

		h1 {
			color: #007bff;
			font-size: 180px;
		}

		h4 {
			padding-bottom: 20px;
			color: #007bff;
		}

		p {
			text-align: center;
			color: #007bff;

		}
	</style>
</head>


	<div class="row">
		<div class="col-md-12 d-flex flex-column justify-content-center align-items-center text-white vh-100">
			<h1>404</h1>
			<h4>Page not found</h4>
			<p>Oops! The page you are looking for does not exist. It might have been moved or deleted.</p>
			<a class='btn btn-primary' href="{%url 'login'%}">Back To Home</a>
		</div>
	</div>
{%endblock %}
