{% extends "base_form.html" %}
{% load i18n %}
{%block title%} Session-{{session_obj.name}} <hr/>{%endblock%}
{%block content%}
  <style>

  </style>

<!--
  <h3> Session-{{session_obj.name}} </h3>




<small>
    Group: {{group | upper}}
  </small>
  <small>
    Instructor: {{session_obj.owner | upper}}
  </small>
-->


 <!--

  <div class="d-flex justify-content-between" >

  <button id="btn-start-recording" class='btn btn-info ' title="It will start video recording and save it on the server.">Step-1. Start recording</button>
  <a class='btn btn-info' href = "#space" title="Complete the activity shown below and write your group's responses in the editor.">Step-2. Complete the group activity</a>
  <button id="btn-stop-recording" disabled class='btn btn-info ' title="It will stop video recording.">3. Step-3. Stop recording</button>
  <a class='btn btn-info' href = "{% url 'survey_form' session_obj.id group %}" title="Fill self-reorted measure of collaboration.">Step-4. Fill survey </a>
  <a href = "{% url 'leave_session'%}" class='btn btn-info' title="Exit from the group session"> Step-5. Exit </a>
  </div>
 -->

 {% language 'et' %}

      <div class="row card">
          <div class="step d-flex justify-content-between align-middle">
              <div id="div1" class="col-3 activestep text-center" onclick="javascript: resetActive(event, 0, 'step-1');">
                  <span class="fa fa-camera "></span>
                  <p>{% trans 'Start recording'%}</p>
              </div>
              <div class="col-3 text-center" onclick="javascript: resetActive(event, 20, 'step-2');">
                  <span class="fa fa-group"></span>
                  <p>{% trans 'Do activity'%}</p>
              </div>
              <div class="col-3 text-center" onclick="javascript: resetActive(event, 40, 'step-3');">
                  <span class="fa fa-stop-circle"></span>
                  <p>{% trans 'Stop recording'%}</p>
              </div>
              <div class="col-3 text-center" onclick="javascript: resetActive(event, 60, 'step-4');">
                  <span class="fa fa-edit"></span>
                  <p>{% trans 'Fill survey'%}</p>
              </div>


          </div>
      </div>
      <br/>
      <div class="row setup-content step activeStepInfo" id="step-1">
          <div class="col-xs-12">
              <div class="col-md-12 well ">
                  <h1>{% trans 'STEP'%} 1</h1><hr/>
                  {% trans 'You need to start the video recording. The recorded video will be saved on the server.'%}<br/><br/>
                  <button id="btn-start-recording" class='btn btn-success ' title="It will start video recording and save it on the server.">Start recording</button>

              </div>
          </div>
      </div>


      <div class="row setup-content step hiddenStepInfo" id="step-2">
          <div class="col-xs-12">
              <div class="col-md-12">
                  <h1>{% trans 'STEP'%} 2</h1><hr/>

                  <form action="" method="post">
                    {% csrf_token %}
                    {{form}}
                  </form>
                  <div class='card'>
                    <h3 class='card-header text-white bg-info border-info'>
                      {% trans 'Task'%}
                    </h3>
                    <div class='card-body'>
                      {{session_obj.problem | safe}}
                    </div>
                  </div>
                  <br/>
                  <br/>
                  <div class='card'>
                    <h3 class='card-header text-white bg-info border-info'>
                      {% trans 'Write solution here'%}
                    </h3>
                    <div class='cardbody' id='space'>
                      <!--<iframe id="demo" onload='autoResizeDiv()' allow="camera https://www.etherpad.website;microphone https://www.etherpad.website"  style="width:100%; height: 100%; position:relative; overflow:hidden; " frameBorder='0' src="{{etherpad_url}}/auth_session?sessionID={{sessionid}}&padName={{padname}}" allowfullscreen>
                      </iframe>-->
                    </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row setup-content step hiddenStepInfo" id="step-3">
          <div class="col-xs-12">
              <div class="col-md-12 well">
                  <h1>{% trans 'STEP'%} 3</h1><hr/>

                  {% trans 'After finishing your group activity, you can stop your recording.<br/>The button will be active after you start recording.'%}
                  <br/><br/>
                    <button id="btn-stop-recording" disabled class='btn btn-success ' title="It will stop video recording.">Stop recording</button>
              </div>
          </div>
      </div>
      <div class="row setup-content step hiddenStepInfo" id="step-4">
          <div class="col-xs-12">
              <div class="col-md-12 well ">
                  <h1>{% trans 'STEP'%} 4</h1><hr/>
                  {% trans 'We will appreciate you if you can fill the survey. It will allow us to better understand the collaboration behavior for your research.'%} <br/><br/>
                  {% include 'survey_form_updated.html'%}
              </div>
          </div>
      </div>

      {% endlanguage%}


  <style>
  .hiddenStepInfo {
      display: none;
  }

  .activeStepInfo {
      display: block !important;
  }

  .underline {
      text-decoration: underline;
  }

  .step .col-3 {
      background-color: #fff;
      border-right: none;
  }

  .step .col-3:hover {
      color: #F58723;
      cursor: pointer;
  }

  .step .activestep {
      color: #F58723;
      vertical-align: central;
  }

  .step .fa {
      padding-top: 30px;
      font-size: 30px;
  }
  </style>

  <script type="text/javascript">
    //vad.js start
    window.AudioContext = window.AudioContext || window.webkitAudioContext;
    var audioContext = new AudioContext();

    // Define function called by getUserMedia
    function startUserMedia(stream) {
      // Create MediaStreamAudioSourceNode
      var source = audioContext.createMediaStreamSource(stream);
      var voice_start_time = 0;
      // Setup options
      var options = {
       source: source,
       voice_stop: function() {
         var speak_time = new Date() - voice_start_time;
         console.log('voice_stop');
         console.log('sending',speak_time);
         var fd = new FormData();
         fd.append('csrfmiddlewaretoken', "{{ csrf_token }}");
         fd.append('session',{{session}});
         fd.append('user',{{request.user.id}});
         fd.append('group',{{group}});
         fd.append('strDate',ServerDate.now());
         fd.append('activity',speak_time);
         var xhr = new XMLHttpRequest();
         xhr.open('POST', '/vad_upload/', true);
         xhr.send(fd);
         console.log(' ===> Sent: voice_stop');
       },
       voice_start: function() {
         voice_start_time = new Date();
         console.log('voice_start');
       }
      };

      // Create VAD
      var vad = new VAD(options);
    }
    // Ask for audio device
    navigator.getUserMedia = navigator.getUserMedia ||
                             navigator.mozGetUserMedia ||
                             navigator.webkitGetUserMedia;
    navigator.getUserMedia({audio: true}, startUserMedia, function(e) {
            console.log("No live audio input in this browser: " + e);
    });






      function resetActive(event, percent, step) {
          $(".progress-bar").css("width", percent + "%").attr("aria-valuenow", percent);
          $(".progress-completed").text(percent + "%");

          $("div").each(function () {
              if ($(this).hasClass("activestep")) {
                  $(this).removeClass("activestep");
              }
          });

          if (event.target.className == "col-md-2") {
              $(event.target).addClass("activestep");
          }
          else {
              $(event.target.parentNode).addClass("activestep");
          }

          hideSteps();
          showCurrentStepInfo(step);
      }

      function hideSteps() {
          $("div").each(function () {
              if ($(this).hasClass("activeStepInfo")) {
                  $(this).removeClass("activeStepInfo");
                  $(this).addClass("hiddenStepInfo");
              }
          });
      }

      function showCurrentStepInfo(step) {
          var id = "#" + step;
          $(id).addClass("activeStepInfo");

          if(step == 'step-2') {
            $("#space").html("<iframe id='demo' onload='autoResizeDiv()' allow='camera https://www.etherpad.website;microphone https://www.etherpad.website'  style='width:100%; height: 100%; position:relative; overflow:hidden; ' frameBorder='0' src='{{etherpad_url}}/auth_session?sessionID={{sessionid}}&padName={{padname}}' allowfullscreen></iframe>");
          }
          else {
            $("#space").html("");
          }

      }
  </script>



  <script>
    data = [];
    var recorder; // globally accessible
    var blobcount = 0
    var startRecordingTime;
    user = {{request.user.id}};



    function captureMicrophone(callback) {
      console.log('capturing camera ...');
      //navigator.getUserMedia = navigator.getUserMedia || navigator.mediaDevices.getUserMedia || navigator.webkitGetUserMedia;
      navigator.getUserMedia({audio: true, video:true}, callback, function(error) {
        alert('Unable to access your camera.');
        console.error(error);
        });
      }


    function postBlob(blob,blobcount){
      console.log('postBlob called');
      var fd = new FormData();
      fd.append('csrfmiddlewaretoken', "{{ csrf_token }}");

      description = String(ServerDate()) + ';' + ServerDate.now();
      if (blobcount ==-1) {
        console.log(blob.type);
        fd.append('data_blob', blob, + {{session}} + '_' + {{group}}+'_'+ user + '_Final_file.' + blob.type.split('/')[1]);
        fd.append('description', startRecordingTime);
      }
      else {
        fd.append('data_blob', blob, + {{session}} + '_' + {{group}}+'_'+ user + '_' + blobcount +'.' + blob.type.split('/')[1]);
        fd.append('description', description);
      }
      fd.append('session',{{session}});
      fd.append('user',{{request.user.id}});
      fd.append('group',{{group}});
      fd.append('sequence',blobcount);
      //console.log( {{session}} + '_' + {{group}}+'_'+ user + '.' + blob.type.split('/')[1]);
      //console.log(fd);
      var xhr = new XMLHttpRequest();
      console.log('opening connection');
      xhr.open('POST', '/upload/', true);
      console.log('data sending')
      xhr.send(fd);
      console.log('data sent');
      }


    function stopRecordingCallback() {
      var blob = recorder.getBlob();
      var blob = new File(data,'video.webm',{type:'vide/webm'})
      console.log('Final file sending...');
      postBlob(blob,-1);
      console.log('Sending final file');
      recorder.microphone.stop();
    }

    function startRecording()
    {
     this.disabled = true;
     console.log('start recording');
     captureMicrophone(function(microphone) {
       console.log('Creating recordRTC');
       startRecordingTime = ServerDate();
       console.log(startRecordingTime);
       recorder = RecordRTC(microphone, {
         recorderType: MediaStreamRecorder,
         mimeType: 'video/webm',
         timeSlice: 60000, // pass this parameter upload for every minute
         ondataavailable: function(blob) {
           blobcount =  blobcount + 1;
           console.log('sending data:'+ blobcount);
           data.push(blob);
           postBlob(blob,blobcount);
           }
         });
       console.log('start recording');
       recorder.startRecording();
       recorder.microphone = microphone;
       document.getElementById('btn-stop-recording').disabled = false;
       console.log('function executed');
       });
     }


    function stopRecording() {
      this.disabled = true;
      var start_button = document.getElementById('btn-start-recording');
      start_button.disabled = false;
      recorder.stopRecording(stopRecordingCallback);

    };
    document.getElementById('btn-start-recording').onclick = startRecording;
    document.getElementById('btn-stop-recording').onclick = stopRecording;


  </script>
  <br/>
{%endblock %}
