
{% extends "base_teacher.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load my_tags %}
{% block title %} {% endblock %}
{% block content %}
  <h2>
    {{session.name | upper}}
  </h2>
  <p>
    <b class='text-muted'>No. of groups: </b> {{ session.groups }} <br/>
    <b class='text-muted'>Duration: </b>{{ session.duration }} <br/>
  </p>
  <small>
  </small> <br/><br/>
  <button id='dash_vis' style="height:30px;font-size:0.5em;" type="button" class="btn btn-success py-0">Show dashboard</button>
  <hr/>
  <br/>


  <div class='container'>
    <div id='audio_dash' style="visibility:hidden;">
    {% for g in no_group%}
      {% if forloop.counter|modulo:3 == 1%}
        <div class='row'>
      {% endif%}
      {% if no_group|length == 1 %}
      <div class='col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class="card">
          <div class='card-body'>
            <h4 class='card-title'> Group-{{forloop.counter}} </h4><hr/>
            <div id="speak-{{g}}" style="min-width:300px;min-height:300px;"></div>
            <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#word-cloud" data-whatever="{{forloop.counter}}">Wordcloud</button>
            <br/><br/>
            <a id = "help-{{g}}" href="{% url 'group_text' session.id forloop.counter %}" class="btn btn-info btn-block">Join group-{{forloop.counter}}</a>
          </div>
        </div>
      </div>
      {% endif %}
      {% if no_group|length == 2 %}
      <div class='col col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12'>
        <div class="card">
          <div class='card-body'>
            <h4 class='card-title'> Group-{{forloop.counter}} </h4><hr/>
            <div id="speak-{{g}}" style="min-width:300px;min-height:300px;"></div>
            <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#word-cloud" data-whatever="{{forloop.counter}}">Wordcloud</button>
            <br/><br/>
            <a id = "help-{{g}}" href="{% url 'group_text' session.id forloop.counter %}" class="btn btn-info btn-block">Join group-{{forloop.counter}}</a>
          </div>
        </div>
      </div>
      {% endif %}
      {% if no_group|length > 2 %}
      <div class='col col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12'>
        <div class="card">
          <div class='card-body'>
            <h4 class='card-title'> Group-{{forloop.counter}} </h4><hr/>
            <div id="speak-{{g}}" style="min-width:300px;min-height:300px;"></div>
            <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#word-cloud" data-whatever="{{forloop.counter}}">Wordcloud</button>
            <br/><br/>
            <a id = "help-{{g}}" href="{% url 'group_text' session.id forloop.counter %}" class="btn btn-info btn-block">Join group-{{forloop.counter}}</a>
          </div>
        </div>
      </div>
      {% endif %}
      {% if forloop.last or forloop.counter|modulo:3 == 0 %}
        </div>
        <br/>
      {% endif %}
    {% endfor %}
    </div>
    <br/>
  </div>
  <div class="modal fade" id="word-cloud" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title" id="exampleModalLabel"><span>{% trans 'Word cloud'%}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class='modal-content'>
          <img class="img img-responsive" id="word_cloud_img"></img>
        </div>
      </div>
    </div>
  </div>

<script>
  var group_list = {{no_group}} ;
  $('#word-cloud').on('show.bs.modal', function (event) {
    console.log('Running function');
    var button = $(event.relatedTarget); // Button that triggered the modal
    var recipient = button.data('whatever');
    console.log(recipient); // Extract info from data-* attributes
    var URL = "/en/sessions/word_cloud/"+{{session.id}}+"/"+recipient;
    console.log(URL);
    $.ajax(
    {
      type:"GET",
      url: URL,
      success: function( data )
      {
          console.log(data.data);
          if (data.data != "empty") {
            image_data = "data:image/png;base64," + data.data;
            $('#word_cloud_img').attr('src',image_data);
          }
      }
   })
});

  $('#dash_vis').click(function(event){
    var button_text = $('#dash_vis').text();
    if (button_text == 'Show dashboard') {
      $('#audio_dash').css({"visibility":"visible"});
      $('#dash_vis').html('Hide dashboard');
    } else {
      $('#audio_dash').css({"visibility":"hidden"});
      $('#dash_vis').html('Show dashboard');
    }
  });
  // idea from https://www.geeksforgeeks.org/how-to-make-javascript-wait-for-a-api-request-to-return/
  function makeGetRequest(path) {
    return new Promise(function (resolve, reject) {
      axios.get(path).then(
        (response) => {
          var result = response.data;
          console.log('Processing Request');
          resolve(result);
        },
        (error) => {
          reject(error);
        }
      );
    });
  }

  function updateHelpQueries(help_result){
    console.log('Length',{{no_group|length}});
    for(var i=0; i < {{no_group|length}}; i++){
      if (help_result.queries[i].help) {
        id = '#help-' + String(i);
        console.log(id,help_result.queries[i].help);
        new_msg = "Join group-" + String(i+1) + "<span style='font-size:28px;color:white' class='fa fa-hand-paper-o ml-4'></span>";
        $(id).html(new_msg);
      }
    }
  }

  var cy = [];
  console.log('Loop starting....');
  cyt_groups = {{no_group}};
  for (var i=0; i<cyt_groups.length;i++) {
    var id_label = 'speak-' + i;
    console.log(id_label);
    // cytoscape js
    cy_tmp = cytoscape({
  	   container: document.getElementById(id_label),
       style: [
          {
            selector: 'node',
            css: {
                  'content': 'data(name)',
                  'text-valign': 'bottom',
                  'color':'black',
            }
          },
          {
            selector: 'edge',
            css: {
                  'curve-style': 'bezier',
                  'target-arrow-shape': 'triangle',
                  'line-color': '#ddd',
                  'target-arrow-color': '#ddd'
                }
          },
  				{
  					selector: '[size]',
  					css: {
                'width': 'data(size)',
                'height': 'data(size)',
  				  }
  				},
          {
  					selector: '[weight]',
  					css: {
                'width':'data(weight)',
                'color': 'black',
  					}
  				},
        ],
        layout: {
            name: 'circle',
  				   /* color: "#ffff00",*/

  				}
  			});
    cy.push(cy_tmp);
  }

async function main() {
  var url2 = '{{request.site.base_url}}/getSpeakingStats/' + {{session.id}} ;
  var url3 = '{{request.site.base_url}}/getHelpQueries/' + {{session.id}} ;
  var result = await makeGetRequest(url2);
  var help_result = await makeGetRequest(url3);
  for(m = 0; m < cyt_groups.length ; m++) {
    cy_tmp = cy[m];
    cy_tmp.elements().remove();
    console.log('Before:',cy_tmp.json());
    var updated_graph = [];
    for (n = 0 ; n < result.speaking_data[m].graph.nodes.length; n ++) {
      var node_id = "" + result.speaking_data[m].graph.nodes[n].id;
      cy_tmp.add({ group: 'nodes', data: { id: node_id,  name: result.speaking_data[m].graph.nodes[n].name, size:result.speaking_data[m].graph.nodes[n].size } });
    }
    for (n = 0 ; n < result.speaking_data[m].graph.edges.length; n ++) {
      var edge_id =  result.speaking_data[m].graph.edges[n].id;
      console.log('Type:',typeof(node_id));
      cy_tmp.add({ group: 'edges', data: { source: result.speaking_data[m].graph.edges[n].source, target: result.speaking_data[m].graph.edges[n].to, weight:result.speaking_data[m].graph.edges[n].weight } });
    }
    cy_tmp.layout();
    console.log('After:',cy_tmp.json());
  }
  updateHelpQueries(help_result);
}
setInterval(main,6000);
</script>
{% endblock %}
