
{% extends "base_teacher.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load my_tags %}
{% block title %} {% endblock %}
{% block content %}

  <h2>
    {{session.name | upper}}
  </h2>
  <p>
    <b class='text-muted'>{% trans 'No. of groups:'%} </b> {{ session.groups }} <br/>
    <b class='text-muted'>{% trans 'Duration:'%} </b>{{ session.duration }} <br/>
  </p>
  <br/>

  {% if request.user.is_superuser or request.user.role.role == 'teacher' or request.user.is_staff %}
  <div class="dropdown">
    <button class="btn btn-warning dropdown-toggle float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {% trans 'Download Data'%}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

      <a class="dropdown-item" href="{% url 'download_task' session.id %}" data-toggle="tooltip" title="Download Learning task">{% trans 'Learning task'%}</a>
      <a class="dropdown-item" href="{% url 'download_response' session.id %}" data-toggle="tooltip" title="Download task responses">{% trans 'Group response'%}</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'download_log' session.id %}" data-toggle="tooltip" title="Download Etherpad logs in CSV format">{% trans 'Etherpad logs'%}</a>
      <a class="dropdown-item" href="{% url 'download_chat' session.id %}" data-toggle="tooltip" title="Download Etherpad chat logs in CSV format">{% trans 'Etherpad Chat'%}</a>

      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'download_sus' session.id %}" data-toggle="tooltip" title="Download system usability survey data">{% trans 'Sus survey data'%}</a>
      <a class="dropdown-item" href="{% url 'download_engage' session.id %}" data-toggle="tooltip" title="Download collaboration  survey data">{% trans 'Engagement survey data'%}</a>
      <a class="dropdown-item" href="{% url 'download_demographics' session.id %}" data-toggle="tooltip" title="Download demographics">{% trans 'Demographics'%}</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'download_mapping' session.id %}" data-toggle="tooltip" title="Download User mapping for Etherpad">{% trans 'User mapping'%}</a>
    </div>
  </div>
  {% endif %}
  <br/><br/>
  <hr/>



  <div class='container'>
    <div class='row'>
      <div class='col col-4'>
        <div class="card">
          <div class='card-body'>
            <h4 class='card-title'> {% trans 'Join group discussion'%} </h4><hr/>
            <p>{% trans 'Following links can be used to enter the respective group discussion. You can also check their written responses.'%}</p> <br/><br/>
            {% for g in no_group%}
              <a id = "help-{{g}}" href="{% url 'group_text' session.id forloop.counter %}" class="btn btn-info btn-block">{% trans 'Group'%}-{{forloop.counter}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
      <div id='eth_dash' style="visibility:hidden;" class='col col-8'>
        <div class="card">
          <div class='card-body'>
            <h4 class='card-title'> {% trans 'Etherpad activity'%} <span><i style='color:#007bff;' class='fa fa-info-circle ml-2'  data-toggle='modal' data-placement='top' data-target="#etherpad_activity"></i></span> </h4><hr/>
            <canvas id="overall"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="etherpad_activity" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title" id="exampleModalLabel"><span><i style='color:#007bff;' class='fa fa-info-circle mr-2'></i></span>{% trans 'Etherpad activity'%}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class='modal-body'>
          {% blocktrans %}
           Etherpad activity means the number of revisions made to the collaborative document.
           For example, whenever group participants write something, it updates the documents.
           The total number of such updates are presented as etherpad activities.
           {% endblocktrans %}
        </div>
      </div>
    </div>
  </div>

<script>

  // idea from https://www.geeksforgeeks.org/how-to-make-javascript-wait-for-a-api-request-to-return/
  function makeGetRequest(path) {
    return new Promise(function (resolve, reject) {
      axios.get(path).then(
        (response) => {
          var result = response.data;
          console.log('Processing Request');
          resolve(result);
        },
        (error) => {
          reject(error);
        }
      );
    });
  }
  function updateHelpQueries(help_result){
    console.log('Length',{{no_group|length}});
    for(var i=0; i < {{no_group|length}}; i++){
      if (help_result.queries[i].help) {
        id = '#help-' + String(i);
        console.log(id,help_result.queries[i].help);
        new_msg = "{% trans 'Join group'%}-" + String(i+1) + "<span style='font-size:28px;color:white' class='fa fa-hand-paper-o ml-4'></span>";
        $(id).html(new_msg);
      }
    }
  }


  var ctx = document.getElementById('overall').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: [],
          datasets: [{
              label: 'Etherpad Activity',
              data: [],
              borderWidth: 1
          }]
      },
      options: {
        plugins: {
          colorschemes: {
            scheme: 'brewer.Paired12'
          }
        },
        legend: {display:false},
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
  });

async function queries(){
  var url3 = '{{request.site.base_url}}/getHelpQueries/' + {{session.id}} ;
  var help_result = await makeGetRequest(url3);
  updateHelpQueries(help_result);
}

async function main() {

  var chart = myChart
  var revs = [];
  var groups = [];
  var group_list = {{no_group}};
  console.log('Dataset--------')
  console.log(chart.data.datasets[0].data);
  for (var i=0; i<group_list.length;i++) {
    etherpad_group = '{{eth_group}}';
    session_id = {{session.id}};
    number = parseInt(i) + 1;
    console.log('before:'+i+' after:'+number);
    group_pad = etherpad_group + '$' + 'session_' + session_id + '_group_' + number;
    // sending ajax request
    url = '{{request.site.base_url}}/getRevCount/'+group_pad;
    revisions = 0;
    var result = await makeGetRequest(url);
    revs.push(result.revisions);
    group = 'group-' + number
    groups.push(group);
    chart.data.datasets[0].data[i]= result.revisions;
    chart.data.labels[i]=group;
    chart.update();
    console.log('function called');
    console.log(result);
    data = result.revisions;
    console.log(data);
    //  revisions = data['revisions'];
    console.log('Recieved:' + data);
  }
  console.log(revs);
  console.log(groups);
}
setInterval(main,5000,myChart); // run every 5 minutes
setInterval(queries,5000,myChart); // run every 5 seconds
</script>
{% endblock %}
