

{% extends "base_teacher.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Create Session{% endblock %}



{% block content %}


<br/>
<form action="" method="post">
{% csrf_token %}
{{form.media}}
{{form | crispy}}

{% if edit %}
<input type="submit" class="btn btn-success" value="{% trans "Edit Session" %}"/>
{% else %}
<input type="submit" class="btn btn-success" value="{% trans "Create Session" %}"/>
{% endif %}

</form>
<script>
document.getElementById("cke_id_problem").style.width = 100%;

</script>
</div>
{% endblock %}
