
{% extends "base_teacher.html" %}
{% load static%}
{% load i18n %}
{% load crispy_forms_tags %}
{% load my_tags %}
{% block title %} 
 <div class="pb-5">
  <div style="float:left">
    <p class="h2 text-left">{{session.name | upper}}</p>
  </div>
  <!--<button id='dash_vis' style="height:30px;font-size:0.5em;" type="button" class="btn btn-success py-0">{% trans 'Show dashboard'%}</button>-->
  
  {% if request.user.is_superuser or request.user.role.role == 'teacher' or request.user.is_staff %}
  <div class="dropdown" style="float:right">
    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {% trans 'Download Data'%}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

      <a class="dropdown-item" href="{% url 'download_task' session.id %}" data-toggle="tooltip" title="Download Learning task">{% trans 'Learning task'%}</a>
      <a class="dropdown-item" href="{% url 'download_response' session.id %}" data-toggle="tooltip" title="Download task responses">{% trans 'Group response'%}</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'download_log' session.id %}" data-toggle="tooltip" title="Download Etherpad logs in CSV format">{% trans 'Etherpad logs'%}</a>
      <a class="dropdown-item" href="{% url 'download_chat' session.id %}" data-toggle="tooltip" title="Download Etherpad chat logs in CSV format">{% trans 'Etherpad Chat'%}</a>

      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'download_vad' session.id %}" data-toggle="tooltip" title="Download voice activity detection">{% trans 'VAD data'%}</a>
      <a class="dropdown-item" href="{% url 'download_speech' session.id %}" data-toggle="tooltip" title="Download speech data">{% trans 'Speech data'%}</a>
      <a class="dropdown-item" href="{% url 'download_fileTimestamp' session.id %}" data-toggle="tooltip" title="Download file metadata">{% trans 'File metadata'%}</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'download_sus' session.id %}" data-toggle="tooltip" title="Download system usability survey data">{% trans 'Sus survey data'%}</a>
      <a class="dropdown-item" href="{% url 'download_engage' session.id %}" data-toggle="tooltip" title="Download collaboration  survey data">{% trans 'Engagement survey data'%}</a>
      <a class="dropdown-item" href="{% url 'download_demographics' session.id %}" data-toggle="tooltip" title="Download demographics">{% trans 'Demographics'%}</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'download_mapping' session.id %}" data-toggle="tooltip" title="Download User mapping for Etherpad">{% trans 'User mapping'%}</a>
    </div>
  </div>
</div>

  {% endif %}
  {% endblock %}
  {% block content %}
 <br/>
  <div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-4">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h4 class="m-b-20 pb-2">{% trans 'Total Groups'%}</h4
                      >
                    <h2 class="text-right"><i class="fa fa-users f-left"></i><span>{{ session.groups }}</span></h2>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-4">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h4 class="m-b-20 pb-2">{% trans 'Activity Duration'%}</h4>
                    <h2 class="text-right"><i class="fa fa-clock-o f-left"></i><span>{{ session.duration }}</span></h2>
                    
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-4">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h4 class="m-b-20 pb-2">{% trans 'Active Groups'%}</h4>
                    <h2 class="text-right"><i class="fa fa-users f-left"></i><span>2</span></h2>
                    
                </div>
            </div>
        </div>
      </div>
        <div class="row">
          <table class="table m-3" style="border-radius: 5;">
            <thead class="bg-c-blue ">
              <tr class="rounded">
                <th scope="col" class="text-white h6">{% trans 'Group'%}</th>
                <th scope="col" class="text-white text-center h6">{% trans 'Social dynamics'%}</th>
                <th scope="col" class="text-white text-center  h6">{% trans 'Writing behavior'%}</th>
                <th scope="col" class="text-white text-center  h6">{% trans 'Collaboration quality'%}</th>
                <th scope="col" class="text-white text-center  h6">{% trans 'links'%}</th>
              </tr>
            </thead>
            <tbody>
              {% for g in no_group%}
              <tr>
                <th scope="row">{% trans 'Group'%}-{{forloop.counter}}</th>
                <td class="text-center">
                {%if g == 0%}
                <img id="speak-{{g}}" class="m-0 p-0" height="50"  src="{% static 'assets/images/group-1.png' %}"></img>
                {% elif g == 1 %}
                <img id="speak-{{g}}" class="m-0 p-0"  height="50"  src="{% static 'assets/images/group-2.png' %}"></img>
                {% else %}
                <img id="speak-{{g}}" class="m-0 p-0" height="50"   src="{% static 'assets/images/group-3.png' %}"></img>
                {% endif %}
                </td>
                <td class="text-center"><div id="write-{{g}}" class="m-0 p-0" style="min-width:70px;min-height:70px;"></div></td>


                
                <td class="text-center">
                {%if g == 0%}
                <svg height="100" width="100">
                  <circle cx="30" cy="30" r="20" stroke="black" stroke-width="1" fill="green" />
                </svg>
                {% elif g == 1 %}
                <svg height="100" width="100">
                  <circle cx="30" cy="30" r="20" stroke="black" stroke-width="1" fill="lemonchiffon" />
                </svg>
                {% else %}
                <svg height="100" width="100">
                  <circle cx="30" cy="30" r="20" stroke="black" stroke-width="1" fill="crimson" />
                </svg>    
                  {% endif %}
                  </td>
                <td class="text-center">
                  <a href="{% url 'dummy_group' session.id forloop.counter %}" class="btn btn-link">{% trans 'Group anlytics'%}</a> 
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
	</div>
  <style>
    .order-card {
    color: #fff;
}
table th:first-child{
  border-radius:5px 0 0 5px;
}

table th:last-child{
  border-radius:0 5px 5px 0;
}
.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}
  </style>

<script>
  function normalize_array(arr) {
    // Function to normalize writing contribution across groups
    normalize = function(val, max) { 
                  return(val) / (max); 
                };
    max = Math.max.apply(null, arr);
    hold_normed_values=[];
    arr.forEach(function(this_num) {
                  hold_normed_values.push(Math.ceil(5 * normalize(this_num, max)))
                });   
    return(hold_normed_values)
  }

  async function main() {
  
  var revs = [396,1085,214];
  var groups = [1,2,3];
  var group_list = {{no_group}};
  console.log('Dataset--------');
  console.log(group_list);
 

  revs_updated = normalize_array(revs);
  for (var i=0; i<revs.length; i++) {
    group = '#write-' + i;
    size = parseInt(revs_updated[i]);

    if (size==0) {
      innerHTML = "";
    } else {
      innerHTML = "<i class='fa fa-edit fa-"+size+"x'></i>";

    $(group).html(innerHTML);

    }
  }

}
main()

</script>

{% endblock %}  
