
{% extends "base_form.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %} {% endblock %}

{% block content %}
{% language 'et'%}
<h2>{{session.name | upper}}</h2>
<hr/>
<div>
<span>{% trans 'Instructor:'%} {{session.owner | upper}}</span>

</div>
<hr/>
<a href = "{% url 'leave_session'%}" class='btn btn-warning'> {% trans 'Leave session'%} </a>
<br/>
<br/>
<div class='row'>
  <div class='col-md-4'>
<table class="table">
    <thead>
      <tr>
        <th>{% trans 'Groups'%}</th>
        <th>{% trans 'Link'%}</th>

      </tr>
    </thead>
    <tbody>
      {% for group in groups %}
      <tr>
        <td>Group-{{forloop.counter}}</td>
        <td><a href='{% url 'student_pad' forloop.counter  %}' class='btn btn-success pl-5 pr-5'>{% trans 'Enter'%}</a></td>

      </tr>
      {%endfor%}

    </tbody>
  </table>
</div>
</div>


{%endlanguage%}
{% endblock %}
