{% extends "base_form.html" %}
{% load i18n %}
{%block title%} Session-{{session_obj.name}} <hr/>{%endblock%}
{%block content%}

    <span id='teacher_msg'>
    </span>
    <div class='row' id='record_status'>
    </div>
    <div class="d-flex flex-row-reverse">
      <a class="btn btn-info btn-lg m-2" id='exit' onclick="stopRecording();" href="{% url 'survey_form' session_obj.id group%}"> <span class="fa fa-arrow-right"></span> Exit</a>
      <a class="btn btn-warning btn-lg m-2" id='notify'> <span class="fa fa-hand-paper-o"></span> Ask teacher for help</a>

    </div>
    <form action="" method="post">
      {% csrf_token %}
      {{form}}
    </form>
    <div class="row" >
      <div id='avchat'  class='col col-12 col-lg-4 col-md-12 col-sm-12 col-xs-12 card shadow-lg' >
       <iframe id="jitsi" class='sticky-top' allow="camera https://www.cojitsi.website; microphone https://www.cojitsi.website; " style="height:40vh;"   frameBorder='0' src="" allowfullscreen>
        </iframe>
      </div>

      <div id='etherpad' class="col  card  shadow-lg p-5 col-12 col-lg-8 col-md-12 col-sm-12 col-xs-12 col-lg-offset-4">
          <h1>Learning sapce</h1><hr/>
          <div class='card'>
            <h3 class='card-header text-white bg-info border-info'>
              Task
            </h3>
            <div class='card-body'>
              {{session.learning_problem | safe}}
            </div>
          </div>
          <br/>
          <br/>
          <br/>
          <div class='card mt-2' id='space'>
            <h3 class='card-header text-white bg-info border-info'>
              {% trans 'Write solution here'%}
            </h3>
            <div class='cardbody'>
              <iframe id="demo" onload='autoResizeDiv()' allow="camera https://www.etherpad.website;microphone https://www.etherpad.website"  style="width:100%; height: 100%; position:relative; overflow:hidden; " frameBorder='0' src="https://www.etherpad.website/auth_session?sessionID={{sessionid}}&padName={{padname}}" allowfullscreen>
              </iframe>
            </div>
          </div>
        </div>
    </div>
    <br/><br/>
    <script type="text/javascript">

      data = [];
      var recorder; // globally accessible
      var blobcount = 0;

      var record_status = false;
      var use_etherpad = {{session_obj.useEtherpad | lower}};
      var audio_video_chat = {{session_obj.useAVchat | lower}};
      var record_audio ={{session_obj.record_audio | lower}};
      var record_audio_video ={{session_obj.record_audio_video | lower}};
      var startRecordingTime;
      user = {{request.user.id}};
      var video_stream, audio_stream;
      //vad.js start
      window.AudioContext = window.AudioContext || window.webkitAudioContext;
      var audioContext = new AudioContext();



      function loadFrame() {
        var iframe = document.getElementById("jitsi");
        if ({{session_obj.useAVchat | lower}}) {
          iframe.src = "https://www.cojitsi.website/{{room}}?jwt={{token}}"
        }
      };

      window.onload = setTimeout(loadFrame, 10000);

      function notifyRecording() {
        notification = "<div class='alert alert-success alert-dismissible fade show' role='alert'><strong>Notification sent!</strong> A notification has been sent to the teacher. Teacher will join soon.<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>";
        $('#teacher_msg').html(notification);
      }
      function notifyAlertSent() {
        notification = "<div class='alert alert-success alert-dismissible fade show' role='alert'><strong>Notification sent!</strong> A notification has been sent to the teacher. Teacher will join soon.<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>";
        $('#teacher_msg').html(notification);
      }


      $("#notify").click(function(e){
        e.preventDefault();
        var fd = new FormData();
        fd.append('csrfmiddlewaretoken', "{{ csrf_token }}");
        fd.append('session',{{session.id}});
        fd.append('user',{{request.user.id}});
        fd.append('group',{{group}});
        var xhr = new XMLHttpRequest();

        xhr.open('POST', '/help_upload/', true);
        xhr.send(fd);
        notifyAlertSent();

      });

      // Web Speech API code
      var final_transcript = '';
      var recognizing = false;
      var recognition;
      if (!('webkitSpeechRecognition' in window)) {
        console.log('Speech to Text is not supported');
      } else {
        console.log('Speech to Text is supported');
        recognition = new webkitSpeechRecognition();
        recognition.continuous = true;
        recognition.interimResults = true;

        recognition.onstart = function() {
          console.log('Started Speech to Text');
          recognizing = true;
        };

        recognition.onerror = function(event) {
          if (event.error == 'no-speech') {
          }
          if (event.error == 'audio-capture') {
          }
          if (event.error == 'not-allowed') {
          }
        };

        recognition.onend = function() {
          recognition.start();
        };

        recognition.onresult = function(event) {
          var interim_transcript = '';
          for (var i = event.resultIndex; i < event.results.length; ++i) {
            if (event.results[i].isFinal) {
              final_transcript += event.results[i][0].transcript;
              uploadSpeech(event.results[i][0].transcript);
            } else {
              interim_transcript += event.results[i][0].transcript;
            }
          }
        };
        recognition.start();
      }


      $("#exit").click(function(e){
        e.preventDefault();
        var href = $(this).attr("href"),
        message = $(this).attr("data-message");
        if (confirm('Exiting will stop recording. Select ok if you are done with the activity.')) {

        }
        window.location.href = href;
      });

      if (! use_etherpad ) {
        console.log('-------------> Hiding etherpad');

        $("#etherpad").hide();

        $("#avchat").attr('class', '');
        $("#avchat").addClass("col  card  shadow-lg col-12");

        $("#jitsi").addClass(" min-vh-100")


      }

      if (! audio_video_chat ) {
        console.log('removing div');
        $("#avchat").hide();
        $("#etherpad").attr('class', '');
        $("#etherpad").addClass("col  card  shadow-lg col-12");

        $("#container").attr('class', '');
        $("#container").addClass("container min-vh-100");
      }


      if (audio_video_chat || record_audio_video) {
        console.log('Caputing media');
        navigator.getUserMedia = navigator.getUserMedia || navigator.mozGetUserMedia || navigator.webkitGetUserMedia;
        navigator.getUserMedia({audio: true, video:true}, getStream, function(e) {
                console.log("No live audio input in this browser: " + e);
        });
      }

      function getStream(stream) {
        console.log('Capturing video stream');
        video_stream = stream;

        if (record_audio_video){
          record_status = true;
          startRecording(video_stream);
          notifyRecording();
        }

        audio_stream = new MediaStream(stream.getAudioTracks());
        startVAD(audio_stream);

        if (typeof recognition != 'undefined') {
          recognition.start();
        }
      }

      function getAudioStream(stream) {
        console.log('Capturing audio stream');
        audio_stream = stream;
        if (record_audio && ! record_status){
          record_status = true;
          startRecording(audio_stream);
          notifyRecording();
        }
        startVAD(audio_stream);

        if (typeof recognition != 'undefined') {
          recognition.start();
        }
      }

      if (typeof audio_stream == 'undefined' && record_audio){
        console.log('Chat is disablbed and capturing media for audio');
        navigator.getUserMedia = navigator.getUserMedia || navigator.mozGetUserMedia || navigator.webkitGetUserMedia;
        navigator.getUserMedia({audio: true}, getAudioStream, function(e) {
                console.log("No live audio input in this browser: " + e);
        });
      }



      function startVAD(stream)
      {
        console.log('Running VAD');
        // Create MediaStreamAudioSourceNode
        var source = audioContext.createMediaStreamSource(stream);
        var voice_start_time = 0;
        // Setup options
        var options = {
         source: source,
         voice_stop: function() {
           var speak_time = new Date() - voice_start_time;

           console.log('voice_stop');
           console.log('sending',speak_time);

           var fd = new FormData();
           fd.append('csrfmiddlewaretoken', "{{ csrf_token }}");
           fd.append('session',{{session.id}});
           fd.append('user',{{request.user.id}});
           fd.append('group',{{group}});
           fd.append('strDate',ServerDate.now());
           fd.append('activity',speak_time);
           var xhr = new XMLHttpRequest();

           xhr.open('POST', '/vad_upload/', true);
           xhr.send(fd);
           console.log(' ===> Sent: voice_stop');
           console.log(ServerDate.now(),ServerDate(),new Date(ServerDate.now()));
         },
         voice_start: function() {
           voice_start_time = new Date();
           console.log('voice_start');
         }
        };

        // Create VAD
        var vad = new VAD(options);
      }

      function uploadSpeech(text)
      {
        var fd = new FormData();
        fd.append('csrfmiddlewaretoken', "{{ csrf_token }}");
        fd.append('session',{{session.id}});
        fd.append('user',{{request.user.id}});
        fd.append('group',{{group}});
        fd.append('strDate',ServerDate.now());
        fd.append('TextField',text);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/speech_upload/', true);
        xhr.send(fd);

        console.log(' ===> Speech data sent');
      }

      function captureMicrophone(callback) {
        console.log('capturing camera ...');
        //navigator.getUserMedia = navigator.getUserMedia || navigator.mediaDevices.getUserMedia || navigator.webkitGetUserMedia;
        navigator.getUserMedia({audio: true, video:true}, callback, function(error) {
          alert('Unable to access your camera.');
          console.error(error);
          });
        }


      function postBlob(blob,blobcount){
        console.log('postBlob called');
        var fd = new FormData();
        fd.append('csrfmiddlewaretoken', "{{ csrf_token }}");

        description = '' + Math.floor(ServerDate.now());
        if (blobcount ==-1) {
          console.log(blob.type);
          fd.append('data_blob', blob, + {{session.id}} + '_' + {{group}}+'_'+ user + '_Final_file_' + description +'.' + blob.type.split('/')[1]);
          fd.append('description', description);
        }
        else {
          fd.append('data_blob', blob, + {{session.id}} + '_' + {{group}}+'_'+ user + '_' + blobcount + '_' + description +'.' + blob.type.split('/')[1]);
          fd.append('description', description);
        }
        fd.append('session',{{session.id}});
        fd.append('user',{{request.user.id}});
        fd.append('group',{{group}});
        fd.append('sequence',blobcount);
        fd.append('strDate',ServerDate.now());
        //console.log( {{session}} + '_' + {{group}}+'_'+ user + '.' + blob.type.split('/')[1]);
        //console.log(fd);
        var xhr = new XMLHttpRequest();
        console.log('opening connection');
        xhr.open('POST', '/upload/', true);
        console.log('data sending')
        xhr.send(fd);
        console.log('data sent');
        }

        function stopRecordingCallback() {
          var blob = recorder.getBlob();
          var blob = new File(data,'video.webm',{type:'vide/webm'})
          console.log('Final file sending...');
          postBlob(blob,-1);
          console.log('Sending final file');
          recorder.microphone.stop();
        }

        function startRecording(stream)
        {
         this.disabled = true;
         microphone = stream;
         console.log('start recording');
         recorder = RecordRTC(microphone, {
           recorderType: MediaStreamRecorder,
           mimeType: 'video/webm',
           timeSlice: 5000, // pass this parameter upload for every minute
           ondataavailable: function(blob) {
             blobcount =  blobcount + 1;
             console.log('sending data:'+ blobcount);
             data.push(blob);
             postBlob(blob,blobcount);
           }
         });
        console.log('start recording');
        recorder.startRecording();
        recorder.microphone = microphone;
        console.log('function executed');
         }

        function stopRecording() {
          recorder.stopRecording(stopRecordingCallback);
        };


    </script>

{%endblock %}
