{% extends 'survey-base.html' %}

{% block content%}
<h2>{{title}}</h2>


<form method='post'>

{% csrf_token %}
<div class="table-responsive">
<table id='survey' class="table table-striped">
<thead>
  <tr>
    <th></th>
    <th> Strogly disagree </th>
    <th> Disagree </th>
    <th> Neutral </th>
    <th> Agree </th>
    <th> Strogly agree </th>
  </tr>
</thead>

<tbody>
  <tr>
    <td> I think that as a group we can learn more than learning as individuals.</td>
    <td> <input type="radio" value="1" name="q1" required> </td>
    <td> <input type="radio" value="2" name="q1"> </td>
    <td> <input type="radio" value="3" name="q1"> </td>
    <td> <input type="radio" value="4" name="q1"> </td>
    <td> <input type="radio" value="5" name="q1"> </td>
  </tr>


  <tr>
    <td> I shared necessary materials and information for the task with other participants.</td>
    <td> <input type="radio" value="1" name="q2" required> </td>
    <td> <input type="radio" value="2" name="q2"> </td>
    <td> <input type="radio"  value="3" name="q2"> </td>
    <td> <input type="radio"  value="4" name="q2"> </td>
    <td> <input type="radio" value="5"  name="q2"> </td>
  </tr>


  <tr>
    <td> I felt responsible for the participants in the discussion forum.</td>
    <td> <input type="radio" value="1"  name="q3" required> </td>
    <td> <input type="radio" value="2"  name="q3"> </td>
    <td> <input type="radio" value="3"  name="q3"> </td>
    <td> <input type="radio" value="4"  name="q3"> </td>
    <td> <input type="radio" value="5"  name="q3"> </td>
  </tr>


  <tr>
    <td> I always tried to find ways to help others.</td>
    <td> <input type="radio" value="1"  name="q4" required> </td>
    <td> <input type="radio" value="2"  name="q4"> </td>
    <td> <input type="radio" value="3"  name="q4"> </td>
    <td> <input type="radio" value="4"  name="q4"> </td>
    <td> <input type="radio" value="5"  name="q4"> </td>
  </tr>


  <tr>
    <td> We had discussions in order to specify the goals of the project. </td>
    <td> <input type="radio" value="1"  name="q5" required> </td>
    <td> <input type="radio" value="2"  name="q5"> </td>
    <td> <input type="radio" value="3"  name="q5"> </td>
    <td> <input type="radio" value="4"  name="q5"> </td>
    <td> <input type="radio" value="5"  name="q5"> </td>
  </tr>

  <tr>
    <td>Participants' ideas and opinions regarding the project were not interesting for me. </td>
    <td> <input type="radio" value="1"  name="q6" required> </td>
    <td> <input type="radio" value="2"  name="q6"> </td>
    <td> <input type="radio" value="3"  name="q6"> </td>
    <td> <input type="radio" value="4"  name="q6"> </td>
    <td> <input type="radio" value="5"  name="q6"> </td>
  </tr>

  <tr>
    <td>We helped each other out whenever necessary while working on the project. </td>
    <td> <input type="radio" value="1"  name="q7" required> </td>
    <td> <input type="radio" value="2"  name="q7"> </td>
    <td> <input type="radio" value="3"  name="q7"> </td>
    <td> <input type="radio" value="4"  name="q7"> </td>
    <td> <input type="radio" value="5"  name="q7"> </td>
  </tr>

  <tr>
    <td> I didn't feel responsible for the success of each participant in the discussion forum.</td>
    <td> <input type="radio" value="1"  name="q8" required> </td>
    <td> <input type="radio" value="2"  name="q8"> </td>
    <td> <input type="radio" value="3"  name="q8"> </td>
    <td> <input type="radio" value="4"  name="q8"> </td>
    <td> <input type="radio" value="5"  name="q8"> </td>
  </tr>

  <tr>
    <td>From time to time, I checked for other participants' understanding of the learned materials.  </td>
    <td> <input type="radio" value="1"  name="q9" required> </td>
    <td> <input type="radio" value="2"  name="q9"> </td>
    <td> <input type="radio" value="3"  name="q9"> </td>
    <td> <input type="radio" value="4"  name="q9"> </td>
    <td> <input type="radio" value="5"  name="q9"> </td>
  </tr>

  <tr>
    <td> The participants of the discussion forum tried to find ways in order to solve group problems.  </td>
    <td> <input type="radio" value="1"  name="q10" required> </td>
    <td> <input type="radio" value="2"  name="q10"> </td>
    <td> <input type="radio" value="3"  name="q10"> </td>
    <td> <input type="radio" value="4"  name="q10"> </td>
    <td> <input type="radio" value="5"  name="q10"> </td>
  </tr>

  <tr>
    <td> It wasn't important for me to observe other participants' work.</td>
    <td> <input type="radio" value="1"  name="q11" required> </td>
    <td> <input type="radio" value="2"  name="q11"> </td>
    <td> <input type="radio" value="3"  name="q11"> </td>
    <td> <input type="radio" value="4"  name="q11"> </td>
    <td> <input type="radio" value="5"  name="q11"> </td>
  </tr>

  <tr>
    <td>I benefited from working with others in this discussion forum. </td>
    <td> <input type="radio" value="1"  name="q12" required> </td>
    <td> <input type="radio" value="2"  name="q12"> </td>
    <td> <input type="radio" value="3"  name="q12"> </td>
    <td> <input type="radio" value="4"  name="q12"> </td>
    <td> <input type="radio" value="5"  name="q12"> </td>
  </tr>

  <tr>
    <td> I encouraged others for their efforts. </td>
    <td> <input type="radio" value="1"  name="q13" required> </td>
    <td> <input type="radio" value="2"  name="q13"> </td>
    <td> <input type="radio" value="3"  name="q13"> </td>
    <td> <input type="radio" value="4"  name="q13"> </td>
    <td> <input type="radio" value="5"  name="q13"> </td>
  </tr>

  <tr>
    <td> I felt responsible to complete my work on time.</td>
    <td> <input type="radio" value="1"  name="q14"  required> </td>
    <td> <input type="radio" value="2"  name="q14"> </td>
    <td> <input type="radio" value="3"  name="q14"> </td>
    <td> <input type="radio" value="4"  name="q14"> </td>
    <td> <input type="radio" value="5"  name="q14"> </td>
  </tr>

  <tr>
    <td> I helped others to solve group problems.</td>
    <td> <input type="radio" value="1" name="q15" required> </td>
    <td> <input type="radio" value="2" name="q15"> </td>
    <td> <input type="radio" value="3" name="q15"> </td>
    <td> <input type="radio" value="4" name="q15"> </td>
    <td> <input type="radio" value="5" name="q15"> </td>
  </tr>


  <tr>
    <td> We discussed the achievement of the goals of the course project.</td>
    <td> <input type="radio" value="1" name="q16" required> </td>
    <td> <input type="radio" value="2" name="q16"> </td>
    <td> <input type="radio"  value="3" name="q16"> </td>
    <td> <input type="radio"  value="4" name="q16"> </td>
    <td> <input type="radio" value="5"  name="q16"> </td>
  </tr>


  <tr>
    <td> I think that my success in the course project is related only to my own work.</td>
    <td> <input type="radio" value="1"  name="q17" required> </td>
    <td> <input type="radio" value="2"  name="q17"> </td>
    <td> <input type="radio" value="3"  name="q17"> </td>
    <td> <input type="radio" value="4"  name="q17"> </td>
    <td> <input type="radio" value="5"  name="q17"> </td>
  </tr>


  <tr>
    <td> I think that the success of the group depends on the contributions of each group member.</td>
    <td> <input type="radio" value="1"  name="q18" required> </td>
    <td> <input type="radio" value="2"  name="q18"> </td>
    <td> <input type="radio" value="3"  name="q18"> </td>
    <td> <input type="radio" value="4"  name="q18"> </td>
    <td> <input type="radio" value="5"  name="q18"> </td>
  </tr>


  <tr>
    <td> I discussed other participants' contributions. </td>
    <td> <input type="radio" value="1"  name="q19" required> </td>
    <td> <input type="radio" value="2"  name="q19"> </td>
    <td> <input type="radio" value="3"  name="q19"> </td>
    <td> <input type="radio" value="4"  name="q19"> </td>
    <td> <input type="radio" value="5"  name="q19"> </td>
  </tr>

  <tr>
    <td>I felt responsible to complete my work on the best way possible. </td>
    <td> <input type="radio" value="1"  name="q20" required> </td>
    <td> <input type="radio" value="2"  name="q20"> </td>
    <td> <input type="radio" value="3"  name="q20"> </td>
    <td> <input type="radio" value="4"  name="q20"> </td>
    <td> <input type="radio" value="5"  name="q20"> </td>
  </tr>

  <tr>
    <td>I demanded participants' ideas and opinions regarding the project. </td>
    <td> <input type="radio" value="1"  name="q21" required> </td>
    <td> <input type="radio" value="2"  name="q21"> </td>
    <td> <input type="radio" value="3"  name="q21"> </td>
    <td> <input type="radio" value="4"  name="q21"> </td>
    <td> <input type="radio" value="5"  name="q21"> </td>
  </tr>

  <tr>
    <td> The participants of the discussion forum provided helpful feedback to each other regarding the course project.</td>
    <td> <input type="radio" value="1"  name="q22" required> </td>
    <td> <input type="radio" value="2"  name="q22"> </td>
    <td> <input type="radio" value="3"  name="q22"> </td>
    <td> <input type="radio" value="4"  name="q22"> </td>
    <td> <input type="radio" value="5"  name="q22"> </td>
  </tr>

  <tr>
    <td>I kept necessary materials and information for the project for myself.  </td>
    <td> <input type="radio" value="1"  name="q23" required> </td>
    <td> <input type="radio" value="2"  name="q23"> </td>
    <td> <input type="radio" value="3"  name="q23"> </td>
    <td> <input type="radio" value="4"  name="q23"> </td>
    <td> <input type="radio" value="5"  name="q23"> </td>
  </tr>

  <tr>
    <td> I made a unique contribution to the joint effort.  </td>
    <td> <input type="radio" value="1"  name="q24" required> </td>
    <td> <input type="radio" value="2"  name="q24"> </td>
    <td> <input type="radio" value="3"  name="q24"> </td>
    <td> <input type="radio" value="4"  name="q24"> </td>
    <td> <input type="radio" value="5"  name="q24"> </td>
  </tr>

  <tr>
    <td> I tried to discuss concepts being learned with others.</td>
    <td> <input type="radio" value="1"  name="q25" required> </td>
    <td> <input type="radio" value="2"  name="q25"> </td>
    <td> <input type="radio" value="3"  name="q25"> </td>
    <td> <input type="radio" value="4"  name="q25"> </td>
    <td> <input type="radio" value="5"  name="q25"> </td>
  </tr>

  <tr>
    <td>I felt responsible to observe other participants' work.</td>
    <td> <input type="radio" value="1"  name="q26" required> </td>
    <td> <input type="radio" value="2"  name="q26"> </td>
    <td> <input type="radio" value="3"  name="q26"> </td>
    <td> <input type="radio" value="4"  name="q26"> </td>
    <td> <input type="radio" value="5"  name="q26"> </td>
  </tr>

  <tr>
    <td> Sometimes, I tried to give direction to group's
work. </td>
    <td> <input type="radio" value="1"  name="q27" required> </td>
    <td> <input type="radio" value="2"  name="q27"> </td>
    <td> <input type="radio" value="3"  name="q27"> </td>
    <td> <input type="radio" value="4"  name="q27"> </td>
    <td> <input type="radio" value="5"  name="q27"> </td>
  </tr>

  <tr>
    <td> I tried to give others helpful feedback.</td>
    <td> <input type="radio" value="1"  name="q28"  required> </td>
    <td> <input type="radio" value="2"  name="q28"> </td>
    <td> <input type="radio" value="3"  name="q28"> </td>
    <td> <input type="radio" value="4"  name="q28"> </td>
    <td> <input type="radio" value="5"  name="q28"> </td>
  </tr>
  <tr>
    <td> I tried to compliment people when I liked something they have done.</td>
    <td> <input type="radio" value="1" name="q29" required> </td>
    <td> <input type="radio" value="2" name="q29"> </td>
    <td> <input type="radio" value="3" name="q29"> </td>
    <td> <input type="radio" value="4" name="q29"> </td>
    <td> <input type="radio" value="5" name="q29"> </td>
  </tr>


  <tr>
    <td>We monitored each other's work in order to ensure high quality of the course project.</td>
    <td> <input type="radio" value="1" name="q30" required> </td>
    <td> <input type="radio" value="2" name="q30"> </td>
    <td> <input type="radio"  value="3" name="q30"> </td>
    <td> <input type="radio"  value="4" name="q30"> </td>
    <td> <input type="radio" value="5"  name="q30"> </td>
  </tr>


  <tr>
    <td>Working with others in this discussion forum was a waste of time.</td>
    <td> <input type="radio" value="1"  name="q31" required> </td>
    <td> <input type="radio" value="2"  name="q31"> </td>
    <td> <input type="radio" value="3"  name="q31"> </td>
    <td> <input type="radio" value="4"  name="q31"> </td>
    <td> <input type="radio" value="5"  name="q31"> </td>
  </tr>


  <tr>
    <td> I apologized to others when I did something wrong.</td>
    <td> <input type="radio" value="1"  name="q32" required> </td>
    <td> <input type="radio" value="2"  name="q32"> </td>
    <td> <input type="radio" value="3"  name="q32"> </td>
    <td> <input type="radio" value="4"  name="q32"> </td>
    <td> <input type="radio" value="5"  name="q32"> </td>
  </tr>


  <tr>
    <td> The achievement of the goals of the course project was not discussed by the participants. </td>
    <td> <input type="radio" value="1"  name="q33" required> </td>
    <td> <input type="radio" value="2"  name="q33"> </td>
    <td> <input type="radio" value="3"  name="q33"> </td>
    <td> <input type="radio" value="4"  name="q33"> </td>
    <td> <input type="radio" value="5"  name="q33"> </td>
  </tr>

  <tr>
    <td>I was initiative in dividing tasks of the project among the participants. </td>
    <td> <input type="radio" value="1"  name="q34" required> </td>
    <td> <input type="radio" value="2"  name="q34"> </td>
    <td> <input type="radio" value="3"  name="q34"> </td>
    <td> <input type="radio" value="4"  name="q34"> </td>
    <td> <input type="radio" value="5"  name="q34"> </td>
  </tr>

  <tr>
    <td>I think that my success in the course project is also related to the contributions of others. </td>
    <td> <input type="radio" value="1"  name="q35" required> </td>
    <td> <input type="radio" value="2"  name="q35"> </td>
    <td> <input type="radio" value="3"  name="q35"> </td>
    <td> <input type="radio" value="4"  name="q35"> </td>
    <td> <input type="radio" value="5"  name="q35"> </td>
  </tr>

  <tr>
    <td> The participants always discussed my contributions.</td>
    <td> <input type="radio" value="1"  name="q36" required> </td>
    <td> <input type="radio" value="2"  name="q36"> </td>
    <td> <input type="radio" value="3"  name="q36"> </td>
    <td> <input type="radio" value="4"  name="q36"> </td>
    <td> <input type="radio" value="5"  name="q36"> </td>
  </tr>

  <tr>
    <td>I felt that we depended on each other while working on the course project.  </td>
    <td> <input type="radio" value="1"  name="q37" required> </td>
    <td> <input type="radio" value="2"  name="q37"> </td>
    <td> <input type="radio" value="3"  name="q37"> </td>
    <td> <input type="radio" value="4"  name="q37"> </td>
    <td> <input type="radio" value="5"  name="q37"> </td>
  </tr>


</tbody>








</table>
</div>
<br/>
<input type='submit' name='Submit' value="Submit" class="btn btn-success btn-block">
</form>
{% endblock %}
