{% load static%}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title> CoTrack</title>
  {% if form.media %}
  {{ form.media }}
  {% endif %}
  <script src="{% static 'axios.min.js'%}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <!-- Bootstrap core CSS -->
  <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
  <script src="/static/popper.min.js"></script>
  <script src="{% static 'vad.js'%}"></script>
  <script src="{% static 'ServerDate.js'%}"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="{% static 'RecordRTC.js'%}"></script>
  <script src="{% static 'my.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'assets/css/templatemo-softy-pinko.css' %}">
  <script src="{% static 'chart.min.js'%}"></script>
  <link rel="stylesheet" href="{% static 'chart.css'%}">
  <script src="{% static 'js/chartjs-plugin-colorschemes.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'headtrackr.js' %}"></script>
  <!-- ml5 <script src="{% static 'p5.min.js' %}"></script>

  <script src="{% static 'ml5.min.js' %}"></script> -->
  <link href="{% static 'bs-step.css' %}" rel="stylesheet">
  <script src='https://www.cojitsi.website/external_api.js'></script>
  </head>

  <body >
  <style>
  footer {
    background: #0280FF;
    padding-top: 10px;

  }
  footer .copyright {
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.88px;
    text-transform: uppercase;
  }
  .custom-radio-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
  }
    .form-inline {
        display: inline-block;
    }
    .navbar {

    		background:  #0280FF;;
    		padding: 5px 16px;
    		border-radius: 0;
    		border: none;
    		box-shadow: 0 0 4px rgba(0,0,0,.1);
    	}

    	.navbar .divider {
    		background-color: #0280FF; !important;
    	}
      .navbar-link {
        color:white;
      }
</style>

  <script language="javascript">

    function autoResizeDiv()
      {
        document.getElementById('demo').style.height = window.innerHeight- 10 +'px';
      }
      if($('#demo').length)
      {
        window.onresize = autoResizeDiv;
        autoResizeDiv();
      }
      $(document).ready(function(){if (!('webkitSpeechRecognition' in window)) {
        console.log('Resetting page');
        $("#container").addClass("container min-vh-100");
        $("#container").html('<h4 class="display-1 text-center mt-5"> Use Google Chrome browser to use full features of CoTrack</h4><br/><p class="text-center"> CoTrack uses some services which are only supported in Google Chrome. Therefore, use Google chrome browser.</p><br/> <p class="text-center mt-5">  <a href="https://www.google.com/chrome/browser/desktop/index.html" target="_blank" class="btn btn-success">Download Google Chrome</a></p>');
      }});
  </script>

  <nav class="navbar navbar-expand-xl navbar-dark">
    <div class='container'>
  		<a class="navbar-brand" href="{% url 'index'%}">  CoTrack</a>
  		<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggler">
  			<span class="navbar-toggler-icon"></span>
  		</button>
      <div id="language" class="collapse navbar-collapse">
    		<ul class="nav navbar-nav">
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-auto" href="#" id="navbar" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-globe"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbar">
            <a class="dropdown-item" href="{%url 'change_language' 'en'%}" data-toggle="tooltip">{% trans 'English' %}</a>
            <a class="dropdown-item" href="{% url 'change_language' 'et'%}" data-toggle="tooltip">{% trans 'Estonian' %}</a>
          </div>
        </li>

    		</ul>
        <ul class="navbar-nav bd-navbar-nav flex-row">
        {% if request.user.is_authenticated  %}
          {% if request.user.role.role == 'teacher'%}
            <li class='nav-item'><a class='nav-link'  href="{% url 'project_home' %}"> <span style="font-size:12px;color:white;">{% trans 'My sessions' %}</span></a></li>
          {% endif %}
        {% endif %}
        <li class='nav-item'><a class='nav-link'  href="{% url 'how' %}"> <span style="font-size:12px;color:white;">{% trans 'Resources' %}</span></a></li>

        <li class='nav-item'><a class='nav-link'   href="{% url 'about' %}"> <span style="font-size:12px;color:white;">{% trans 'About Us' %}</span></a></li>
      </ul>


    	</div>
  	  <!-- Collection of nav links, forms, and other content for toggling -->
  	  <div id="navbarCollapse" class="collapse navbar-collapse justify-content-end">
  		    <ul class="nav navbar-nav">
            {% if request.user.is_authenticated  %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-auto" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{request.user.email}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if request.user.role.role == 'student'%}
                    <a class="dropdown-item" href="{%url 'request_form'%}"><i class="fa fa-check-square-o "></i> {% trans 'Request teacher role' %}</a>
                  {% endif %}
                  {% if request.user.is_sfaff %}
                    <a class="dropdown-item" href="{%url 'request_list'%}"><i class="fa fa-check-square-o "></i> {% trans 'Show requests' %}</a>
                  {% endif %}
                  <a class="dropdown-item" href="{%url 'logout'%}"><i class="fa fa-sign-out"></i> {% trans 'Logout' %}</a>
                </div>
              </li>
            {% else %}
              <li class='nav-item'><a class='nav-link'  href="{%url 'register'%}"><i class="fa fa-user"></i> <span style="color:white;">{% trans 'Sign-up' %}</span></a></li>
              <li class='nav-item'><a class='nav-link'  href="{%url 'login'%}"><i class="fa fa-sign-in"></i> <span  style="color:white;">{% trans 'Login' %}</span></a></li>
            {% endif %}
            <!-- Language code
            {% get_current_language as LANGUAGE_CODE %}
            {% get_language_info for LANGUAGE_CODE as cur_lang %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            <li class="nav-item dropdown">
              {% if LANGUAGE_CODE == 'en' %}
                <a class="nav-link dropdown-toggle" href="{% url 'change_language' 'en'%}" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-us"> </span> {{ cur_lang.name}}</a>
              {% else %}
                <a class="nav-link dropdown-toggle" href="{% url 'change_language' LANGUAGE_CODE%}" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-{{LANGUAGE_CODE}}"> </span> {{ cur_lang.name}}</a>
              {% endif %}
              <div class="dropdown-menu" aria-labelledby="dropdown09">
                {% for language in languages %}
                  {% if language.code != LANGUAGE_CODE %}
                    {% if language.code == 'en' %}
                      <a class="dropdown-item" href="{% url 'change_language' 'en'%}"><span class="flag-icon flag-icon-us"> </span> English</a>
                    {% else %}
                      <a class="dropdown-item" href="{% url 'change_language' language.code%}"><span class="flag-icon flag-icon-{{language.code}}"> </span> {{language.name}}</a>
                    {% endif %}
                 {% endif %}
              {% endfor %}
             </div>
           </li>
         -->
       </ul>
  	 </div>
    </div>
  </nav>
  <!-- Page Content -->
  <div class="container">
    <br/>
    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'error'%}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% else %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {%endif%}
      {% endfor %}
    {% endif %}
  </div>
  <div id='container' class='container-fluid min-vh-100'>

    {% block content%}
    <!-- Page body here -->
    {% endblock %}
  </div>

  <!-- ***** Footer Start ***** -->
  <footer>
      <div class="container">
          <div class="d-flex">
              <div class="p-3">
                  <p class="copyright">Copyright &copy; 2021 CoTrack</p>
              </div>
          </div>
      </div>
  </footer>
</body>
</html>
