{% extends "base_form.html" %}
{% load static %}
{% load i18n %}
{% block content%}
<div class='container'>
    <div id="img" class=" min-vh-100">
      <img style="vertical-align:middle;" class='img-fluid' src="{% static 'assets/images/cotrack_logo.png'%}"/>
      <h1 class="display-4" style='text-align:center;'>{%blocktrans%} Track collaboration across digital and physical spaces.{%endblocktrans%} </h1>
      <h5 style='text-align:center;' class='muted'> {%blocktrans%}CoTrack is a tool which allows instructor to create and conduct collaborative activity. {%endblocktrans%}<br/>
      {%blocktrans%}  It also supports participants' activities monitoring and data recording.{%endblocktrans%} </h5>

    </div>

</div>
{% endblock %}
